body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.result > b {
  display: block;
}

.result > a {
  display: none;
}

.result > a:before {
  margin-top: 5px;
  border-top: 3px solid #ffe87c;
  content: '';
}

.result > small {
  right: 0px;
  position: absolute;
}

a {
  color: #00B7FF;
}
